@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Varela+Round&display=swap');

.App {
  /* text-align: center; */
  height: 100vh;
  width: 100vw;
  background-color: rgb(18, 12, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #232931;

  font-family: 'Oswald', sans-serif;
  font-family: 'Varela Round', sans-serif;
}

nav {
  width: 95%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background-color: #232931;
}

form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  width: 70%;
  align-items: center;
  background-color: #232931;
  position: relative;
}
.heading-div{
  position: absolute;
  top: 0;
  width: 93%;
  color: #ffffff;
  /* border: 1px solid green; */
  padding-left: 7%;
}
.heading-div span{
  color: #a0a0a0;
}
.input-pdiv{
  position: relative;
  width: 500px;
  height: 80px;
  /* border: 1px solid blue; */
  border-radius: 15px;
  margin: 6px;
}
.icon{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30%;
  left: 9%;
  color: #706f6f;
}
input{
  background-color: #232931;
  color: white;
  border: none;
  position: absolute;
  bottom: 15%;
  right: 5%;
  font-weight: 600;
  /* border: 1px solid yellow; */
  font-size: 19px;
  height: 40%;
  width: 70%;
  font-family: 'Oswald', sans-serif;
  font-family: 'Varela Round', sans-serif;
}
input::placeholder{
  color: #a0a0a0;
  font-weight: 500;
  font-size: 14px;
}
label{
  visibility: hidden;
  color: #706f6f;
  font-size: 14px;
  /* border: 1px solid yellow; */
  transition: position 2s ease 1s;
  font-family: 'Oswald', sans-serif;
  font-family: 'Varela Round', sans-serif;
}
input:focus + label{
  visibility: visible;
  position: absolute;
  top: 15%;
  left: 24%;
}
input:focus{ 
  outline: none;
}
input:focus::placeholder{
  color: transparent;
}
.form-sm-btn {
  background-color: rgb(0, 255, 255);
  width: 200px;
  height: 45px;
  border-radius: 10%/50%;
  border-style: none;
  color: #232931;
}
button{
  font-weight: 700;
  border-radius: 5px;
  border-style: none;
  background-color: rgb(0, 255, 255);
  height: 35px;
  width: 80px;
  margin: 10px;
}
.home-btn{
  background-color: #232931;
}
.home-btn a{
  background-color: #232931;
  color: white;
  font-weight: 500;
  font-size: 25px;
}
a{
  text-decoration: none;
}
p a{
  color: aqua;
  font-weight: bold;
}
p{
  color: #a0a0a0;
}
